* {
    margin: 0;
    padding: 0;;
}

.wrapper {
    margin-left: 0%;
    margin-right: 0%;
}

.background {
    background-color: #9EFF2F;
}

.banner {
    background-color: green;
    padding-top: 3%;
    padding-bottom: 3%;
}

.banner_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu {
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
}

.menuItem {
    display: inline-block;
}

.menuItemText {
    text-align: center;
}

.menuItemIcon {
    width: 250px;
    height: auto;
    transition: transform 0.2s;
}

.menuItemIcon:hover {
    transform: scale(1.1);
}

.info {
    background-color: green;
}

.textBox {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    padding-bottom: 2%;
    color: rgb(198, 224, 177);
}

.contact {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.github {
    display: inline-block;
    font-size: 0.4em;
} 

.github_img {
    width: 150px;
    height: auto;
    transition: transform 0.2s;
}

.github_img:hover {
    transform: scale(1.1);
  }

.foot {
    background-color: green;
    padding-top: 2%;
    padding-bottom: 2%;
}

.copyright {
    font-size: 1em;
    text-align: center;
}

h1 {
    font-family: Times, Georgia;
    font-size: 4.7em;
} 

p {
    font-family: Times, Georgia;
    font-size: 2.5em; 
}