.background {
	background-color: #7fff00;
}

.banner {
    background-color: #008800;
}

.banner_img {
    display: block;
    width: 100%;
}

.menu {
    background-color: #fff8dc;
}

.menuItem {
    background-color: black;
    display: inline-table;
}

.menuItemIcon {
    width: 250px;
    height: auto;
}

.info {
    background-color: coral;
}

.textBox {
    background-color: crimson;
}